{% extends 'base.html' %}

{% block content %}
<br/><br/>
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card text-white bg-info">
            <div class="card-body">
                <h5 class="card-title">Total Students</h5><hr>
                <p class="card-text">{{ total_students }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Total Courses</h5><hr>
                <p class="card-text">{{ total_courses }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card text-white bg-secondary">
            <div class="card-body">
                <h5 style="color: rgb(233, 233, 233);" class="card-title">Total Registrations</h5><hr>
                <p style="color: rgb(255, 255, 255);" class="card-text">{{ total_registrations }}</p>
            </div>
        </div>
    </div>
</div>
<br/><br/>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <canvas id="courseCompletionDoughnutChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <canvas id="courseCompletionRadarChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <canvas id="additionalRadarChart"></canvas>
            </div>
        </div>
    </div>
</div>



<style>
    .card h5, .card p {
        text-align: center;
    }

    p {
        font-size: 20px;
    }
    .chart-container {
        width: 100%;
        height: 100%;
    }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var ctxCourseCompletionDoughnut = document.getElementById('courseCompletionDoughnutChart').getContext('2d');
    var courseCompletionDoughnutChart = new Chart(ctxCourseCompletionDoughnut, {
        type: 'doughnut',
        data: {
            labels: ['Completed', 'In Progress', 'Not Started'],
            datasets: [{
                label: 'Course Completion',
                data: [{{ completed_courses }}, {{ in_progress_courses }}, {{ not_started_courses }}],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        }
    });

    var ctxCourseCompletionRadar = document.getElementById('courseCompletionRadarChart').getContext('2d');
    var courseCompletionRadarChart = new Chart(ctxCourseCompletionRadar, {
        type: 'radar',
        data: {
            labels: ['Completed', 'In Progress', 'Not Started'],
            datasets: [{
                label: 'Course Completion',
                data: [{{ completed_courses }}, {{ in_progress_courses }}, {{ not_started_courses }}],
                backgroundColor: 'rgba(255, 159, 64, 0.2)',
                borderColor: 'rgba(255, 159, 64, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                r: {
                    beginAtZero: true
                }
            }
        }
    });

    var ctxAdditionalRadar = document.getElementById('additionalRadarChart').getContext('2d');
    var additionalRadarChart = new Chart(ctxAdditionalRadar, {
        type: 'radar',
        data: {
            labels: [{% for item in radar_data %}'{{ item.name }}',{% endfor %}],
            datasets: [{
                label: 'Number of Registrations',
                data: [{% for item in radar_data %}{{ item.num_students }},{% endfor %}],
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                r: {
                    beginAtZero: true
                }
            }
        }
    });
});

am5.ready(function() {
    // Set themes
    am5.addLicense("ch-custom-attribution");
    am5.addLicense("ch-plugin-export");

    // Polar Area Chart
    var polarAreaChartRoot = am5.Root.new("polarAreaChart");
    polarAreaChartRoot.setThemes([am5themes_Animated.new(polarAreaChartRoot)]);

    var radarChart = polarAreaChartRoot.container.children.push(am5radar.RadarChart.new(polarAreaChartRoot, {
        startAngle: -90,
        endAngle: 270,
        innerRadius: am5.percent(40)
    }));

    var xAxis = radarChart.xAxes.push(am5radar.CategoryAxis.new(polarAreaChartRoot, {
        categoryField: "name",
        renderer: am5radar.AxisRendererCircular.new(polarAreaChartRoot, {})
    }));

    var yAxis = radarChart.yAxes.push(am5xy.ValueAxis.new(polarAreaChartRoot, {
        renderer: am5radar.AxisRendererRadial.new(polarAreaChartRoot, {})
    }));

    var series = radarChart.series.push(am5radar.RadarSeries.new(polarAreaChartRoot, {
        name: "Series 1",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "num_students",
        categoryXField: "name",
        fill: am5.color(0x5a67d8),
        stroke: am5.color(0x5a67d8)
    }));

    series.data.setAll([
        {% for course in students_per_course %}
        { "name": "{{ course.name }}", "num_students": {{ course.num_students }} },
        {% endfor %}
    ]);
    xAxis.data.setAll(series.dataItems);

    // Bubble Chart
    var bubbleChartRoot = am5.Root.new("bubbleChart");
    bubbleChartRoot.setThemes([am5themes_Animated.new(bubbleChartRoot)]);

    var bubbleChart = bubbleChartRoot.container.children.push(am5xy.XYChart.new(bubbleChartRoot, {
        panX: true,
        panY: true,
        wheelX: "none",
        wheelY: "none",
    }));

    var xAxis = bubbleChart.xAxes.push(am5xy.CategoryAxis.new(bubbleChartRoot, {
        categoryField: "name",
        renderer: am5xy.AxisRendererX.new(bubbleChartRoot, {})
    }));

    var yAxis = bubbleChart.yAxes.push(am5xy.ValueAxis.new(bubbleChartRoot, {
        renderer: am5xy.AxisRendererY.new(bubbleChartRoot, {})
    }));

    var series = bubbleChart.series.push(am5xy.LineSeries.new(bubbleChartRoot, {
        name: "Series 1",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "num_students",
        categoryXField: "name",
        bullets: [{
            type: "CircleBullet",
            settings: {
                radius: 5
            }
        }]
    }));

    series.data.setAll([
        {% for course in students_per_course %}
        { "name": "{{ course.name }}", "num_students": {{ course.num_students }} },
        {% endfor %}
    ]);

    xAxis.data.setAll(series.dataItems);

    // Area Chart
    var areaChartRoot = am5.Root.new("areaChart");
    areaChartRoot.setThemes([am5themes_Animated.new(areaChartRoot)]);

    var areaChart = areaChartRoot.container.children.push(am5xy.XYChart.new(areaChartRoot, {
        panX: true,
        panY: true,
        wheelX: "none",
        wheelY: "none",
    }));

    var xAxis = areaChart.xAxes.push(am5xy.CategoryAxis.new(areaChartRoot, {
        categoryField: "name",
        renderer: am5xy.AxisRendererX.new(areaChartRoot, {})
    }));

    var yAxis = areaChart.yAxes.push(am5xy.ValueAxis.new(areaChartRoot, {
        renderer: am5xy.AxisRendererY.new(areaChartRoot, {})
    }));

    var series = areaChart.series.push(am5xy.LineSeries.new(areaChartRoot, {
        name: "Series 1",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "num_students",
        categoryXField: "name",
        fill: am5.color(0x5a67d8),
        stroke: am5.color(0x5a67d8)
    }));

    series.data.setAll([
        {% for course in students_per_course %}
        { "name": "{{ course.name }}", "num_students": {{ course.num_students }} },
        {% endfor %}
    ]);

    xAxis.data.setAll(series.dataItems);
});
</script>
{% endblock %}
